---
- name: Construct the runner command without secrets
  set_fact:
    register_runner_cmd: >-
      register
      --non-interactive
      --url '{{ gitlab_runner.url | default(gitlab_runner_coordinator_url) }}'
      --description '{{ actual_gitlab_runner_name }}'
      --tag-list '{{ gitlab_runner.tags|default([]) | join(",") }}'
      {% if gitlab_runner.clone_url|default(false) %}
      --clone-url "{{ gitlab_runner.clone_url }}"
      {% endif %}
      {% if gitlab_runner.run_untagged|default(true) %}
      --run-untagged
      {% endif %}
      {% if gitlab_runner.protected|default(false) %}
      --access-level="ref_protected"
      {% endif %}
      --executor '{{ gitlab_runner.executor|default("shell") }}'
      --limit '{{ gitlab_runner.concurrent_specific|default(0) }}'
      --output-limit '{{ gitlab_runner.output_limit|default(4096) }}'
      --locked='{{ gitlab_runner.locked|default(false) }}'
      {% for env_var in gitlab_runner.env_vars|default([]) %}
      --env '{{ env_var }}'
      {% endfor %}
      --docker-image '{{ gitlab_runner.docker_image|default("alpine") }}'
      {% if gitlab_runner.docker_privileged|default(false) %}
      --docker-privileged
      {% endif %}
      {% if gitlab_runner.docker_tlsverify|default(false) %}
      --docker-tlsverify '{{ gitlab_runner.docker_tlsverify|default("true") }}'
      {% endif %}
      {% if gitlab_runner.docker_dns|default(false) %}
      --docker-dns '{{ gitlab_runner.docker_dns|default("1.1.1.1") }}'
      {% endif %}
      {% if gitlab_runner.docker_dns_search|default(false) %}
      --docker-dns-search '{{ gitlab_runner.docker_dns_search|default([]) }}'
      {% endif %}
      {% if gitlab_runner.docker_disable_cache|default(false) %}
      --docker-disable-cache
      {% endif %}
      {% if gitlab_runner.docker_oom_kill_disable|default(false) %}
      --docker-oom-kill-disable '{{ gitlab_runner.docker_oom_kill_disable|default("false") }}'
      {% endif %}
      {% for volume in gitlab_runner.docker_volumes | default([]) %}
      --docker-volumes "{{ volume }}"
      {% endfor %}
      {% for device in gitlab_runner.docker_devices | default([]) %}
      --docker-devices "{{ device }}"
      {% endfor %}
      {% if gitlab_runner.docker_network_mode is defined %}
      --docker-network-mode '{{ gitlab_runner.docker_network_mode }}'
      {% endif %}
      --ssh-user '{{ gitlab_runner.ssh_user|default("") }}'
      --ssh-host '{{ gitlab_runner.ssh_host|default("") }}'
      --ssh-port '{{ gitlab_runner.ssh_port|default("") }}'
      --ssh-identity-file '{{ gitlab_runner.ssh_identity_file|default("") }}'
      {% if gitlab_runner.cache_type is defined %}
      --cache-type '{{ gitlab_runner.cache_type }}'
      {% endif %}
      {% if gitlab_runner.cache_shared|default(false) %}
      --cache-shared
      {% endif %}
      {% if gitlab_runner.cache_path is defined %}
      --cache-path '{{ gitlab_runner.cache_path }}'
      {% endif %}
      {% if gitlab_runner.cache_s3_server_address is defined %}
      --cache-s3-server-address '{{ gitlab_runner.cache_s3_server_address }}'
      {% if gitlab_runner.cache_s3_access_key is defined %}
      --cache-s3-access-key '{{ gitlab_runner.cache_s3_access_key }}'
      {% endif %}
      {% endif %}
      {% if gitlab_runner.cache_s3_bucket_name is defined %}
      --cache-s3-bucket-name '{{ gitlab_runner.cache_s3_bucket_name }}'
      {% endif %}
      {% if gitlab_runner.cache_s3_bucket_location is defined %}
      --cache-s3-bucket-location '{{ gitlab_runner.cache_s3_bucket_location }}'
      {% endif %}
      {% if gitlab_runner.cache_gcs_bucket_name is defined %}
      --cache-gcs-bucket-name '{{ gitlab_runner.cache_gcs_bucket_name }}'
      {% endif %}
      {% if gitlab_runner.cache_gcs_credentials_file is defined %}
      --cache-gcs-credentials-file '{{ gitlab_runner.cache_gcs_credentials_file }}'
      {% endif %}
      {% if gitlab_runner.cache_gcs_access_id is defined %}
      --cache-gcs-access-id '{{ gitlab_runner.cache_gcs_access_id }}'
      {% endif %}
      {% if gitlab_runner.cache_azure_account_name is defined %}
      --cache-azure-account-name '{{ gitlab_runner.cache_azure_account_name }}'
      {% endif %}
      {% if gitlab_runner.cache_azure_container_name is defined %}
      --cache-azure-container-name '{{ gitlab_runner.cache_azure_container_name }}'
      {% endif %}
      {% if gitlab_runner.cache_azure_storage_domain is defined %}
      --cache-azure-storage-domain '{{ gitlab_runner.cache_azure_storage_domain }}'
      {% endif %}
      {% if gitlab_runner.builds_dir|default(false) %}
      --builds-dir '{{ gitlab_runner.builds_dir }}'
      {% endif %}
      {% if gitlab_runner.cache_dir|default(false) %}
      --cache-dir '{{ gitlab_runner.cache_dir }}'
      {% endif %}
      {% if gitlab_runner.cache_s3_insecure|default(false) %}
      --cache-s3-insecure
      {% endif %}
      {% if gitlab_runner.extra_registration_option is defined %}
      {{ gitlab_runner.extra_registration_option }}
      {% endif %}

- name: Apply updates (if any) by unregister the runner and let it then register later on
  block:
    - name: Check if the configuration has changed since the last run
      ansible.builtin.copy:
        content: >
          {{ register_runner_cmd }}
          --registration-token '{{ gitlab_runner.token|default(gitlab_runner_registration_token)|hash("sha1") }}'
          {% if gitlab_runner.cache_s3_secret_key is defined %}
          --cache-s3-secret-key '{{ gitlab_runner.cache_s3_secret_key|hash("sha1") }}'
          {% endif %}
          {% if gitlab_runner.cache_gcs_private_key is defined %}
          --cache-gcs-private-key '{{ gitlab_runner.cache_gcs_private_key }}'
          {% endif %}
          {% if gitlab_runner.cache_azure_account_key is defined %}
          --cache-azure-account-key '{{ gitlab_runner.cache_azure_account_key }}'
          {% endif %}
          {% if gitlab_runner.ssh_password is defined %}
          --ssh-password '{{ gitlab_runner.ssh_password|hash("sha1") }}'
          {% endif %}
        dest: "{{ gitlab_runner_config_file_location }}/last-runner-config-{{ actual_gitlab_runner_name }}"
      register: runner_config_state

    - import_tasks: unregister-runner.yml
      when:
        - actual_gitlab_runner_name in registered_gitlab_runner_names
        - runner_config_state.changed
  when: gitlab_runner_config_update_mode == 'by_registering'

- import_tasks: list-configured-runners-container.yml

- name: Register runner to GitLab
  docker_container:
    name: "{{ gitlab_runner_container_name }}"
    image: "{{ gitlab_runner_container_image }}:{{ gitlab_runner_container_tag }}"
    command: >
      {{ register_runner_cmd }}
      --registration-token '{{ gitlab_runner.token|default(gitlab_runner_registration_token) }}'
      {% if gitlab_runner.cache_s3_secret_key is defined %}
      --cache-s3-secret-key '{{ gitlab_runner.cache_s3_secret_key }}'
      {% endif %}
      {% if gitlab_runner.cache_gcs_private_key is defined %}
      --cache-gcs-private-key '{{ gitlab_runner.cache_gcs_private_key }}'
      {% endif %}
      {% if gitlab_runner.cache_azure_account_key is defined %}
      --cache-azure-account-key '{{ gitlab_runner.cache_azure_account_key }}'
      {% endif %}
      {% if gitlab_runner.ssh_password is defined %}
      --ssh-password '{{ gitlab_runner.ssh_password }}'
      {% endif %}
    mounts:
      - type: bind
        source: "{{ gitlab_runner_container_mount_path }}"
        target: /etc/gitlab-runner
    cleanup: true
    auto_remove: true
    network_mode: "{{ gitlab_runner_container_network }}"
  when:
    - actual_gitlab_runner_name not in registered_gitlab_runner_names
    - gitlab_runner.state|default('present') == 'present'
  no_log: false
